@import './settings.scss';

body {
    margin: 0;
    padding: 0;
    background: $color-dark;
    font-family: 'Poppins', sans-serif;
    font-size: $base-font-size;
    color: $color-light;
  }

@import './typography.scss';