$color-light: #fff;
$color-dark: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;

$base-font-text: 'Poppins', sans-serif;
//$font-family: 'Poppins', sans-serif;
$base-font-color: #A0A3A9;
$base-font-weight: 600;
$base-font-size: 15px;

$header-font-weight: 700;
$header-font-size: 50px;
$header-font-color: #000;