$color-light: #fff;
$color-dark: #2f3542;
$main-green: #31a05e;
$color-warning: #e1644e;

$base-font-text: 'Poppins', sans-serif;
$base-font-color: #A0A3A9;
$base-font-weight: 400;
$base-font-size: 17px;
$base-font-line-height: 25.5px;

$header-font-weight: 700;
$header-font-size: 48px;
$header-line-height: 75px;
$header-font-color: #000;
$header-font-style: bold;