@import '../styles/settings.scss';

.about {
    font-family: $base-font-text;
    font-size: 20px;
    color: $base-font-color;
    font-weight: $header-font-weight;
    font-style: normal;
    color: $main-green;
    margin: 15px 0 15px 15px;
    @media (max-width: 578px) {
        height: auto;
        flex-direction: column-reverse;;
    }

    h2 {
        color: $header-font-color;
        line-height: $header-line-height;
        font-weight: $header-font-weight;
        font-size: $header-font-size;
        font-style: $header-font-style;
        @media (max-width: 578px) {
            font-size: 40px;
        }
    }

    p {
        color: $base-font-color;
        line-height: $base-font-line-height;
        font-weight: $base-font-weight;
        font-size: $base-font-size;  
    }
}

.description {
    text-align: right;
    &__ipip {
        background-color: $color-light;
    }
}

p {
    color: #A0A3A9;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: 1366px) {
        overflow: hidden;
    }
}

.middle {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.middleHeight {
    align-content: center;
}

.green {
    width: 161px;
    height: 40px;
    background-color: $main-green;
    color: $color-light;
    border-radius: 100px;
    border-style: none;
    font-size: 14px;
}

.facebook {
    background-color: #d1ded1 ;
    color: $main-green;
    border-color: #717971;
}

.helpInfo {
    @media (max-width: 576px) {
        padding: 24px 48px 24px 48px;
    }
    @media (min-width: 577px) {
        width: 30%;
        margin-left: auto;
        justify-content: space-between;
    }
    p {
        color: $base-font-color;
        font-family: $base-font-text;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}


.myContainer {
    @media (max-width: 578px) {
        width: 100%;
        height: auto;
    }
}