@import '../styles/settings.scss';

.about {
    min-height: 700px;
    font-family: $base-font-text;
    color: $base-font-color;
    font-weight: $header-font-weight;
    font-style: normal;
    color: $main-green;
    margin: 15px 0 15px 15px;
    @media (max-width: 578px) {
        height: auto;
        flex-direction: column-reverse;;
    }

    h2 {
        color: $header-font-color;
        line-height: $header-line-height;
        font-weight: $header-font-weight;
        font-size: $header-font-size;
        font-style: $header-font-style;
        @media (max-width: 578px) {
            font-size: 40px;
        }
    }

    p {
        color: $base-font-color;
        line-height: $base-font-line-height;
        font-weight: $base-font-weight;
        font-size: $base-font-size;  
    }
}

.description {
    text-align: right;
    
    &__ipip {
        background-color: $color-light;
    }
}

p {
    color: #A0A3A9;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: 1366px) {
        overflow: hidden;
    }
}

.middle {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.middleHeight {
    align-content: center;
}

.green {
    width: 161px;
    height: 40px;
    background-color: $main-green;
    color: $color-light;
    border-radius: 100px;
    border-style: none;
    font-size: 14px;
}

.facebook {
    background-color: #d1ded1 ;
    color: $main-green;
    border-color: #717971;
}

.rowButterfly {
    background-color: $color-light;
}


.butterflyParent {
    display: block;
    @media (max-width: 578px) {
        width: 60%;
        height: auto;
        margin: 0;
        padding: 0;
        scale: 0.5;
        position: static;
    }

    &__img{
        scale: 0.8;
        @media (max-width: 1198px) {
            padding-top: 250px;
            overflow: hidden;
            width: 100%;
            height: auto;
        }
        @media (max-width: 768px) {
            scale: 0.5;
            padding-top: 630px;
        }
        @media (max-width: 576px) {
            scale:0.5;
            padding-top: 250px;
        }
    }
}

.myContainer {
    @media (max-width: 578px) {
        width: 100%;
        height: auto;
    }
}