@import '../styles/settings.scss';


.addiction ol{

        color: #A0A3A9;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        //line-height: 20px; /* 117.647% */
        letter-spacing: 0.1px;

}

.breakAfter {
        margin-bottom: 1em;
}