@import '../styles/settings.scss';

.clinic {

    .middle {
        color: #000;
        text-align: center;
        justify-items: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__bordered {
        border-radius: 15px;
        border: 3px solid $base-font-color;
        background-color: $main-green;
        p {
            font-size: 19px;
            color: $color-light

        }
    }
}