@import '../styles/settings.scss';

.ourProjects {
    font-size: 20px;
    p {
        color: #A0A3A9;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .smallGreen {
        color: #31A05E;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .main {

        h2 {
            color: #000;
            font-family: Poppins;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .description {
        color: #A0A3A9;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom:  85px;
        padding-right: 50px;
    }
    &__imageBackground {
        background-image: linear-gradient(to right, rgba(255,255,255,100), rgba(0,0,0,0)), url("https://cdn.pixabay.com/photo/2016/10/18/21/22/beach-1751455_1280.jpg");
        background-size: cover;
        border-radius: 15px;
    }
}