@import '../styles/settings.scss';

.ourTeam {
    font-family: $base-font-text;
    color: $base-font-color;
    font-weight: $header-font-weight;
    font-style: normal;
    color: $main-green;
    margin: 15px 0 15px 15px;
}

h2 {
    color: #31A05E;
    text-align: left;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.1px;
}

p {
    color: #000;
    text-align: left;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 105.263% */
    letter-spacing: 0.1px;
}

.butterflyBlue1 {
    object-fit: cover;
    padding: 200px 250px 0 0;
    scale: 0.8;
}
 ul {
    margin: 12px;
    text-align: right;
    list-style: none;

    li {
        color: #000;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0px;
        padding: 0px;
        text-align: right;
    }
 }

.myContainer {
    padding: 0px;
    margin: 0px;
}