@import '../styles/settings.scss';

.ourTeam {
    font-family: $base-font-text;
    color: $base-font-color;
    font-weight: $header-font-weight;
    font-style: normal;
    color: $main-green;
    margin: 15px 0 15px 15px;
    @media (max-width: 578px) {
        justify-items: center;
    }
    h2 {
        color: #31A05E;
        text-align: left;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
    
    p {
        color: #000;
        text-align: left;
        font-family: Poppins;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
    .middle {
        color: #000;
        text-align: center;
        justify-items: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .rowBackground {
        background-image: linear-gradient(120deg, $color-ocean , rgba(255, 255, 255));
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
    }
}