@import '../../styles/settings.scss';

.selectClinic {

    input {
        border-color: $main-green;
        color: $main-green;
    }

    &__green {
        color: $main-green;
    }

    p {
        color: #A0A3A9;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }

    h2 {
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: bold;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }

    h1 {
        color: #000;
        font-family: Poppins;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__recaptcha {
        margin-right: 30px;
    }
}

.green {
    background-color: $color-light;
}

form {
    color: $main-green;
    border-color: $main-green;
}