@import '../styles/settings.scss';

.footer {
    height: 200px;
    width: 100%;
    font-family: $base-font-text;
    color: $base-font-color;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    align-content: center;
    justify-content: center;
    background-color: $color-section;
    overflow: hidden;
    @media (max-width: 576px) {
        display: block;
        height: auto;
    }
    
    img {
        width: 34px;
        height: 34px;
        margin-top: 12px;
        margin-right: 2px;
        margin-left: 12px;
    }
    
    p {
        font-size: 15px;
    }
    &__footerRow {
        background-color: $color-section;
    }
}

.footerHeader {
    color: $header-font-color;
    font-size: 17px;
}

.copySign {
    font-family: $base-font-text;
    color: $base-font-color;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    align-content: center;
    justify-content: center;
}
