@import '../styles/settings.scss';

.header {
    margin: 0;
    padding-top: 32px;
    font-family: $base-font-text;
    color: $base-font-color;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    align-items: space-between;
    background-color: $color-light;
    @media (max-width: 576px) {
        height: auto;
    }
    button {
        color: $main-green;
    }


}

.logo {
    margin-left: 0;
    height: 87px;
    width: 102px;
}

.header ul {
    list-style-type: none;
    margin-top: 16px;
    justify-content: space-between;
    padding: 30px 139px 30px 139px;
    @media (max-width: 768px) {
        display: block;
        border-style: solid;
        border-color: $main-green;
        border-radius: 25px;
        margin: 0px;
        padding-left: 30%;
    }
    li {
        padding: 8px;
    }
}

.loginLink {
    color: #31a05e;
    margin-top: 0;
    padding: 8px;
    margin-top: 20px;
    background-color: none;
}

.dot {
    height: 7px;
    width: 7px;
    margin: 8px auto 0 auto;
    background-color: $color-light;
    transform: translate(-200px);
    transition:
        transform 1s,
        background-color 2s,
}

li:hover p {
    background-color: $main-green;
    transform: translate(0);
}

li:hover div {
    color: $header-font-color;
}

a {
    text-decoration: none;
    color: $base-font-color;
}
