@import '../styles/settings.scss';

.home {
    font-family: $base-font-text;
    color: $base-font-color;
    font-weight: $header-font-weight;
    font-style: normal;
    font-size: 20px;
    color: $main-green;
    height: auto;
    @media (max-width: 576px) {
        display: block;
    }

    h2 {
        color: $header-font-color;
        line-height: $header-line-height;
        font-weight: $header-font-weight;
        font-size: $header-font-size;
        font-style: $header-font-style;
        margin-top: 250px;
        margin-bottom: 150px;
        @media (max-width: 576px) {
            font-size: 40px;
        }
    }

    p {
        color: $color-light;
        line-height: $base-font-line-height;
        font-weight: $base-font-weight;
        font-size: $base-font-size;
        backdrop-filter: blur(5px) saturate(80%);
    }
    &__background {
        background-image: url("https://cdn.pixabay.com/photo/2016/10/18/21/22/beach-1751455_1280.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }
    .stamp {
        background-color: $color-light;
    }
}

button {
    width: 128px;
    height: 40px;
    background-color: $main-green;
    color: $color-light;
    border-radius: 100px;
    border-style: none;
    font-size: 14px;
}


