@import '../../styles/settings.scss';

.green {
    width: 161px;
    height: 40px;
    background-color: $main-green;
    color: $color-light;
    border-radius: 100px;
    border-style: none;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    font-weight: $header-font-weight;
    margin-left: 0px;
}

.gray {
    width: 161px;
    height: 40px;
    border-radius: 100px;
    border-style: none;
    font-size: 14px;
    background-color: #d1ded1 ;
    color: $main-green;
    border-color: #717971;
    text-align: center;
    padding-top: 10px;
    font-weight: $header-font-weight;
}