@import '../../styles/settings.scss';

.card {
    border-radius: 25px;
    background: rgba(49, 160, 94, 0.14);
    padding: 40px;
    height: 100%;
        @media (max-width: 576px) {
            height: auto;
        }

    h1 {
        color: #000;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 20px 0 20px 0;
    }

    p {
        color: #A0A3A9;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .imgParent {
        //width: 100%;
        //margin-left: -40px;
        padding: 0px;
        object-fit: cover;
        margin-bottom: 30px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            
    }}

    .cardGreen {
        color: #31A05E;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0px;
    }

    .colorGreen {
        color: $main-green;
    }

    h2 {
        color: #000;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
};