@import '../../styles/settings.scss';

.subtitle {
    p {
            color: #A0A3A9;
            font-family: Poppins;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

    .smallGreen {
        color: #31A05E;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .main {

        h2 {
            color: #000;
            font-family: Poppins;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @media (max-width: 576px) {
                font-size: 40px;
            }
        }
    }

    .description {
        color: #A0A3A9;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom:  35px;
        padding-right: 50px;
    }
}