@import '../../styles/settings.scss';

.training {
    
        height: 650px;
        width: auto;
        overflow: hidden;
        border-radius: 25px;

    h2 {
        color: #FFF;
        font-family: Poppins;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        justify-content: left;
        max-width: 60%;
        @media (max-width: 576px) {
            font-size: 25px;
        }
    }

    h1 {
        color: #FFF;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    p {
        color: #FFF;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: end;
        position: absolute;
        bottom: 32px;
        left: 22px;
    }

    img {
        object-fit: cover;
        width: auto;
        height: 800px;
        position: absolute;
        z-index: -1;
    }
    .title {
        padding: 26px 19px;
        align-content: center;
        h1, h2 {
            margin: 0px;
            padding: 26px 19px;
        }
    }
}