@import '../../styles/settings.scss';

.selectClinicDot {
    background-color: #31A05E80;
    border-radius: 25px;
    height: 38px;
    width: 38px;
    position: relative;
    &__img {
        padding: 0;
        justify-items: center;
        align-items: center;
        position: absolute;
        left: 8px;
        top: 5px
    }
    &__inActive {
        background-color: #D9D9D9;;
    }
}

.active {
    background-color: $main-green;
}


.selectClinicRow:hover {
    .selectClinicDotSmall {
        background-color: $main-green;
    }
}

.selectClinicRow {
    border: 2px solid #A0A3A9;
    border-radius: 4px;
    padding: 13px 0;
    margin: 13px 0;
}

.selectClinic {

    input {
        border-color: $main-green;
        color: $main-green;
    }

    &__green {
        color: $main-green;
    }

    p {
        color: #A0A3A9;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }

    h2 {
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: bold;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }

    h1 {
        color: #000;
        font-family: Poppins;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.green {
    background-color: $color-light;
}

form {
    color: $main-green;
    border-color: $main-green;
}